* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    padding: 0 5% 0 5%;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background: black;
}

#gameCanvas { 
  
    border: 1px solid white;
    display: block; 
    background: black;
}